<div class="flex py-4 px-4 h-full">
  <div [formGroup]="form" class="flex w-full h-5rem flex">
    <mat-form-field class="w-full">
      <input matInput placeholder="profile" formControlName="name">
    </mat-form-field>
    <div class="custom-buttons-nav">
      <button class="ml-2" mat-mini-fab color="primary">
        <mat-icon>add</mat-icon>
      </button>
      <button class="ml-2" mat-mini-fab color="primary">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button class="ml-2" mat-mini-fab color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>
