<div class="flex flex-col items-center overflow-hidden">
  <h1 class="title">{{this.data.title}}</h1>
  <mat-dialog-content class="w-full">
    <div [formGroup]="form">
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="profile" formControlName="name">
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <textarea class="h-16" matInput type="text" formControlName="description"></textarea>
      </mat-form-field>
      <div class="flex">
        <mat-form-field class="flex w-5/12 wr-5 mr-2">
          <mat-label>Inital capital</mat-label>
          <input matInput type="number" placeholder="1000" formControlName="initial_capital">
        </mat-form-field>
        <mat-form-field class="flex w-7/12">
          <mat-label>Monthly contribution</mat-label>
          <input matInput type="number" placeholder="100" formControlName="monthly_contribution">
        </mat-form-field>
      </div>
      <mat-form-field class="w-full">
        <mat-label>Duration</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="duration">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="accent" (click)="dialogRef.close()">Cancel</button>
    <button *ngIf="data.mode === 0" mat-flat-button color="primary" [disabled]="!form.valid" (click)="submit()">Submit</button>
    <button *ngIf="data.mode === 1" mat-flat-button color="primary" [disabled]="!form.valid" (click)="submit()">Save</button>
  </mat-dialog-actions>
</div>
