.custom-buttons-nav {
  display: flex;
  height: 58px;
  align-items: center;
}

.custom-buttons-nav mat-icon {
  width: 25px;
  height: 25px;
  font-size: 1.5rem;
}

.profiles-container {
  max-height: calc(100vh - 10rem);
}