.card {
  max-width: 300px;
  height: 390px;
  overflow-y: auto;
  border-radius: 10px; 
  box-shadow: 1px 1px 5px 0.25px black;
  margin: 10px 0;
  margin: 10px;
}

.space {
  margin-left: 8rem; 
}

mat-card-title,
mat-card-subtitle {
  max-width: 200px;
  overflow-wrap: break-word;
}