<div class="flex">
  <div class="flex flex-col h-screen w-2/12 bg-zinc-800">
    <div class="h-95 w-full">
      <div class="w-full flex justify-center pt-8 pb-2">
        <img [src]="'assets/default-profiles/' + '1' + '.png'" alt="" class="w-full h-56 object-contain">
      </div>
      <div class="py-4"><mat-divider class="bg-white"></mat-divider></div>
      <p class="pl-8 text-md text-white">Menu</p>
      <button class="w-full h-16 pl-8" (click)="this.router.navigate(['/home/profiles']);">
        <div class="flex items-center">
          <mat-icon class="text-white mr-8">group</mat-icon>
          <div class="text-white">Profiles</div>
        </div>
      </button>
      <div class="py-4"><mat-divider class="bg-white"></mat-divider></div>
    </div>
    <div>
      <button (click)="this.router.navigate(['/home/user-profile']);" class="w-full h-16 pl-8">
        <div class="flex items-center">
          <mat-icon class="text-white mr-8">settings</mat-icon>
          <div class="text-white">Settings</div>
        </div>
      </button>
      <button (click)="onLogout()" class="w-full h-16 pl-8">
        <div class="flex items-center">
          <mat-icon class="text-white mr-8">logout</mat-icon>
          <div class="text-white">Logout</div>
        </div>
      </button>
    </div>
  </div>
  <div class="w-10/12 h-screen">
    <div *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <router-outlet *ngIf="!isLoading"></router-outlet>
  </div>
</div>